# Environment Variables
APP_NAME="Alfiz Ilham Portfolio"
APP_ENV=development
APP_URL=http://localhost/alfizilham

# Database (SQLite)
DB_PATH=data/database.sqlite

# EmailJS (Client-side)
EMAILJS_SERVICE_ID=service_tdiat3m
EMAILJS_TEMPLATE_ID=template_8xhjpd2
EMAILJS_PUBLIC_KEY=2MWuXtQlMs5Z7lht_
